body {
    background-color: rgba(45, 45, 45);
    display: flex;
    flex-direction: column;
}

.text {
    float: left;
    color: rgba(225, 225, 225);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#output {
    color: rgba(225, 225, 225);
    text-align: center;
}

input {
    margin-top: 3px;
    height: 40px;
    width: 450px;
    font-size: 30px;
    background-color: rgba(45, 45, 45);
    color: rgba(225, 225, 225);
    border: 2px solid rgba(225, 225, 225);
    border-radius: 10px 10px 10px 10px;
    margin-left: 50px;
}

select {
    height: 46px;
    color: rgba(225, 225, 225);
    font-size: 18px;
    width: 86px;
    background-color: rgba(45, 45, 45);
    border: 2px solid rgba(225, 225, 225);
    border-radius: 10px 10px 10px 10px;
}

button {
    height: 46px;
    color: rgba(225, 225, 225);
    width: 68px;
    font-size: 18px;
    background-color: rgba(45, 45, 45);
    border: 2px solid rgba(225, 225, 225);
    border-radius: 10px 10px 10px 10px;
}

.param {
    justify-content: flex-start;
    flex-direction: column;
}

.param div {
    margin-top: 2px;
}